.cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .cart-item span {
    margin-right: 10px;
  }
  
  .cart-item button {
    background-color: #f44336;
    color: #fff;
    padding: 8px;
    cursor: pointer;
    border: none;
  }
  