.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(106, 106, 255);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

.logo, .home, .navbar a, .cartIcon {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a:hover, .logo:hover, .home:hover, .cartIcon:hover {
  color: #f0f0f0;
}

h1 {
  margin: 0;
  padding: 0 15px;
}

.cartIcon {
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}
